@model PaginatedList<luke_site_mvc.Data.Entities.RedditComment>

@{
    int counter = 0;
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Links" asp-route-sortOrder="@ViewData["ScoreSortParm"]">Score</a>
            </th>
            <th>
                <a asp-action="Links" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a>
            </th>
            <th>
                link count: @ViewBag.count
            </th>
        </tr>
    </thead>
    <tbody>
</table>

<a asp-action="Links"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(1)"
   class="btn btn-default">
    First
</a>
<a asp-action="Links"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Links"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

<h1>Is this page from the cache? @ViewData["LinksIsCached"]</h1>
<div class="columns">

    @foreach (var link in Model)
    {
        if (counter > 0 && counter % 2 == 0)
        {
        @:</div><div class="columns">
            // close and start new row
        }

            <div class="column text-center">
                <iframe width="560" 
                        height="315" 
                        src="https://www.youtube.com/embed/@link.YoutubeLinkId" 
                        frameborder="0" 
                        allow="autoplay; encrypted-media" 
                        allowfullscreen></iframe>
                <b></b>

            @{
                string permalink = "https://www.reddit.com" + link.Permalink;

                    <p><b><a href=@permalink>permalink</a></b></p>

                }
                <p><b>Created</b> @link.CreatedUTC.ToShortDateString()</p>
                <p><b>Score</b> @link.Score</p>
            </div>

        counter++;
     }
</div>

<a asp-action="Links"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(1)"
   class="btn btn-default">
    First
</a>
<a asp-action="Links"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Links"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
